# Root
/node_modules/
*.lerna_backup
*.tgz
/coverage
.idea
/.idea

#Packages
/packages/**/*.lerna_backup
/packages/**/node_modules
/packages/**/dist
/packages/**/esm
/packages/**/lib
/packages/**/tmp
/packages/**/types
